header#microsite { background-image: url('../img/headers/bg/header_bg.jpg'); }
div#microsite_img { background-image: url('../img/headers/1600x224/header_about.jpg'); }
	header#microsite div#menu { width: 90%; }
	header#microsite div#menu .menu-row .menu-sub { min-width: 162px; }
	header#microsite .container_12 { overflow: auto; }
	header#microsite div.grid_8 { margin-top: 4em; }
	header#microsite div.grid_8 h2 { margin-right: 1em; margin-bottom: 0; font-size: 2em; font-weight: 500; color: #FFFFFF; }
	header#microsite div.grid_8 h3 { margin-right: 1em; font-size: 1em; color: #FFFFFF; float: left; }
	header#microsite div.grid_8 textarea { height: 24px; margin-right: 1em; resize: none; }
	header#microsite div.grid_8 a[role="button"] { color: #FFFFFF; vertical-align: top; }
	header#microsite div#site-search { height: 24px; overflow: hidden; }
	header#microsite div#site-search a:after { height: 18px; background: url('../img/arrow-go.png') no-repeat 0 0; }
body.microsite main.content { padding-bottom: 130px; }
	body.microsite main.content li { padding-bottom: .5em;  margin-left: 1em; text-indent: -1em; list-style: square inside; }
	body.microsite main.content div.container_12 { padding-top: 2em; }
	body.microsite main.content h2 { line-height: 1.2; }
	
body.microsite div#property-slide { margin: 8px 1em 1em 0; float: right; }

/* Quick Links Microsite */
body.microsite #quick-links { display: block; position: relative; }
	body.microsite #quick-links li { width: 64px; margin: 0 2em 0 0; padding: 0; line-height: 1.1em; float: left; }
	body.microsite #quick-links li.last { margin: 0; }
	body.microsite #quick-links li img, 
	body.microsite #quick-links li span { padding: 0; margin-bottom: 10px; float: left; line-height: 1.1; text-align: left; }
	body.microsite #quick-links a { color: #004677; text-transform: uppercase; } 
	body.microsite #quick-links a:hover { color: #000; text-decoration: underline; }

body.microsite footer,
	body.microsite footer div#footer_content,
	body.microsite footer div#footercol5 { height: 130px; }
	body.microsite footer { margin-top: -130px; }
body.microsite footer div.grid_4 { padding-top: 2em; }


#tenant-login { padding: 1em; margin: 0 0 1em; width: 100%; background-color: #004677; text-align: center; float: left; }
#tenant-login .btn { padding: 0; background: none; border: 0; }
#tenant-login .btn a { color: #FFFFFF; font-size: 1.1em; text-decoration: none; text-transform: uppercase; }
#tenant-login .btn a:hover { color: #9d9b98; text-decoration: underline; }


.micro img { margin-top:6px; margin-bottom:20px; }
.micro .left-sidebar { min-height:450px; background: #fff; }

.micro .right-col-content { background:#FFF; width:564px; min-height:450px; padding-bottom:10%; float:right; }
.micro .right-col-content ul, .micro .full-width-content ul { margin:0 0 15px; font-size:.875em; line-height:1em; overflow:hidden; }
.micro td:hover { color:inherit; cursor:inherit; }

#slider-micro { width:600px; float:left; overflow:hidden; }
#slider-micro li.bjqs-slide { margin-left:-16px; }

/* Microsite Left Sidebar */
.micro > .left-sidebar { width:302px; min-height:390px; padding-bottom:10%; padding:0; }
.micro > .left-sidebar h2, .left-sidebar-micro h3, .left-sidebar-micro h4, .left-sidebar-micro p { margin:0; padding:0 32px; }
.micro > .left-sidebar h2, .left-sidebar-micro h3 { margin-top:32px; }
.micro > .left-sidebar h2 { line-height:1.3em; }
.micro > .left-sidebar h3 { line-height:1.2em; }
.micro > .left-sidebar h4 { line-height:1em; }
.micro > .left-sidebar p { margin-bottom:16px; }
.micro > .left-sidebar hr { margin:16px 32px; }
.micro > .left-sidebar h2 + h3 { margin-top:8px; font-size:1.1em; letter-spacing:normal; }
.micro > .left-sidebar > ul { padding:10px 32px 0; }
.micro > #building-form > li { text-transform:uppercase; color:#000; }
.micro > .left-sidebar li a { text-decoration:underline!important; color:#000; }



/* Microsite Local Events */
ul#local-events { width:90%; margin:0 0 0 -15px!important; }
ul#forms { width:70%; margin:0 0 0 -15px!important; }
#local-events li, #forms li { padding-top:10px; border-bottom:1px solid #CCC; }
#forms li { padding:5px 0 10px; }
#local-events li:first-child, #forms li:first-child, #rules li:first-child { padding-top:0; }
#local-events li:last-child, #forms li:last-child, #rules li:last-child { border-bottom:0 none; }
#forms li img { margin:0 10px 0 0; }

/* Microsite Forms and Documents */
#forms li { border-bottom:1px solid #CCC; }

/* Microsite Neighborhood Map */
#map {height:506px; overflow:hidden; }
/* Idle and Active Maps are the same size */
#map .gsmsc-idleMapDiv, #map .gsmsc-mapDiv { height:500px; }
#search-map h3 { margin-top:-3px; line-height:1.2; }
#poi { margin-top:.5em; }
h3.hotspot-header { font-size:100%; margin-top:.5em; margin-bottom:.2; }
div.hotspot { display:block; font-size:100%; font-weight:normal; color:#004677; text-decoration:none; cursor:default; line-height:1.8em; }
div.hotspot-sep { display:inline; font-size:100%; font-weight:normal; line-height:1.8em; color:#999; }
.infobox { font-size:.875em; line-height:1.3; }
.gsmsc-controls { width:280px; }
.gsmsc-result-list-item { clear:both; }
.gsmsc-resultsBox div.gsmsc-selected { background-color:#ffffcc; }
.gsmsc-user-title h3 { margin:0; padding:0 0 5px 0; }

/* Microsite Contacts */
table#micro-contacts { width:95%; margin-bottom:20px; }
#micro-contacts td, #micro-contacts th { text-align:left; padding:5px 10px 10px 0; }

/* Microsite Amenities */
.jump-link { font-size:.875em; margin:0 0 20px; width:80%; }
section.amenities > h2 { margin:0; }
.amenities h2 a { color:#000; }
hr.amenities { margin:15px 0; }
#amenities { width:90%; }
.slider-amenities { width: 300px; height: 200px; margin-left: 20px; background: #CCC; float: right; overflow-y: hidden; }
.slider-amenities li { margin:0 0 0px 0px; line-height:1.3; color:#000; }
.slider-amenities p.bjqs-caption { margin:0; padding:4% 16px 4% 16px; width:300px; display:block; position:absolute; bottom:0; left:0; }


/* Microsite Tables and Collapsible Content Areas */
.micro .full-width-content table { font-family:Arial, Helvetica, sans-serif; margin:0 0 10px; }
.micro .full-width-content table td { padding:7px 10px 7px 0; }
.micro .full-width-content .white-rows td { font-size:1em; line-height:1.1em; padding:3px 0; }
.micro ol { margin:5px 0 15px; }
.micro ol li { margin: 0; list-style-type:decimal; list-style-position:outside; font-size:0.875em; }

table#table-restaurants > tbody > tr > th,
table#table-retail > tbody > tr > th { padding:0; text-align:left; color:#004677; line-height:2; text-transform: uppercase; }
#table-restaurants > tbody > tr:nth-child(odd),
#table-retail > tbody > tr:nth-child(odd),
#table-restaurants > tbody > tr:nth-child(even),
#table-retail > tbody > tr:nth-child(even) { background:#FFF; color:#000; }

.white-rows > tbody > tr:nth-child(odd),
.white-rows > tbody > tr:nth-child(even) { background:#FFF; color:#000; }

.micro .collapsible-content ul { font-size:1.2em; }
li.section, ul#rules li { width:90%; padding:5px 0; border-bottom:1px solid #CCC; }
ul.nc { margin:10px 0 0 2px!important; }
.micro ul.collapsible-content .section a span.collapsible-header { font-size:1.3em; text-transform:uppercase; }
.section { text-decoration:none; }
.nc li ul li { font-size:0.75em; list-style:square inside none; margin-left:30px; text-indent:-12px;}
.nc li ol li ul li { font-size: 0.8em; }
.nc ol li table, .nc ul li table { font-size:1em; }

.collapsible-content > tbody > tr:nth-child(odd),
.collapsible-content > tbody > tr:nth-child(even) { background:#FFF; color:#000; }

aside > ul.nav-handbook li { margin:0; }
ul.nav-handbook { margin:20px 0 0 32px; padding:0; list-style:none; }
ul.nav-handbook li ul { margin:0 0 5px 2px; padding:0; list-style:none; font-size:.9em; font-weight:normal; }
ul.nav-handbook a, ul.nav-handbook a:link, ul.nav-handbook a:visited { line-height:1.8em; text-decoration:none; }
ul.nav-handbook a.section,
ul.collapsible-content a.section { margin-bottom:5px; padding-left:18px; background:url(../img/arrow-up.png) 0 4px no-repeat; font-size:1.1em; line-height:1.5em; }
ul.nav-handbook a.section.open,
ul.collapsible-content a.section.open { background:url(../img/arrow-down.png) 0 4px no-repeat; }
ul.nav-handbook li ul li a { padding-left:16px; font-size:1.1em; text-transform:uppercase; color:#000; }
ul.collapsible-content li ul li a { padding-left:16px; color:#000; }
ul.nav-handbook li ul li a.current,
ul.collapsible-content li ul li a.current { color:#333; }
ul.nav-handbook a:hover,
ul.collapsible-content a:hover { text-decoration:underline; }