/*  Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; line-height:1.4em; vertical-align: baseline; }
html { height:auto; -ms-overflow-y:scroll; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
img { vertical-align:middle; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { color: #9d9b98; text-decoration: none; }
a:hover { color: #6d6e71; text-decoration: underline; }
/*  Typography */
body, h1, h2, h3, h4, p { font-family: "futura-pt",sans-serif; font-style: normal; font-weight: 400; color: #6d6e71; }
h1 { margin: 0 0 1em; padding: 0; font-size: 1.5em; line-height: 1.6; color: #004677; }
h2 { margin: 0 0 1em; padding: 0; font-size: 1.375em; line-height: 1.5; color: #004677; text-transform: uppercase; letter-spacing: 1px; }
h3 { margin: 0 0 .75em; padding: 0; font-size: 1.25em; line-height: 1.4; }
h4 { margin: 0 0 .25em; padding: 0; font-size: 1.125em; line-height: 1.3; font-weight: 500; }
p { margin: 0 0 1em; padding: 0; font-size: 1em; line-height: 1.4; }
p.caption { margin: 1em 0; font-size: .875em; line-height: 1.2; }
strong { font-weight: 500; }
h2.grid_12 { margin-left: 0; text-transform: uppercase; }
.blue, a.blue:hover { color: #004677; }
.red, a.red:hover { color: #b55a36; }
.green, a.green:hover { color: #51941f; }
.limegreen { color: #cbd802; }
.white, a.white:hover { color: #FFF; }
.fortyeightpx { font-size: 2.75em; letter-spacing: 2px; }
.sixtypx { font-size: 3.75em; letter-spacing: 3px; }
.seventytwopx { font-size: 4.5em; letter-spacing: 4px; }
.serif { font-family: 'Times New Roman', Times, serif; }
.sans { font-family: "futura-pt", sans-serif; font-weight: 400; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.italic { font-style: italic; }
.push_84 { left: 84px; position: absolute; }
.push_300 { left: 300px; }
.bottom { margin-top: -0.4em; }
.learn_more { line-height: 2; }
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { display: inline; float: left; position: relative; margin-right: 10px; }
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12 { position: relative; }
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 { width: 72px; } .container_12 .grid_2 { width: 164px; } .container_12 .grid_3 { width: 256px; } .container_12 .grid_4 { width: 348px; } .container_12 .grid_5 { width: 440px; } .container_12 .grid_6 { width: 532px; } .container_12 .grid_7 { width: 624px; } .container_12 .grid_8 { width: 716px; } .container_12 .grid_9 { width: 808px; } .container_12 .grid_10 { width: 900px; } .container_12 .grid_11 { width: 992px; } .container_12 .grid_12 { width: 1084px; }
/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/*.container_12*/ .prefix_1 { padding-left: 72px; } /* .container_12 .prefix_2 { padding-left: 184px; } .container_12 .prefix_3 { padding-left: 276px; } .container_12 .prefix_4 { padding-left: 368px; } .container_12 .prefix_5 { padding-left: 460px; } .container_12 .prefix_6 { padding-left: 552px; } .container_12 .prefix_7 { padding-left: 644px; } .container_12 .prefix_8 { padding-left: 736px; } .container_12 .prefix_9 { padding-left: 828px; } .container_12 .prefix_10 { padding-left: 920px; } .container_12 .prefix_11 { padding-left: 1012px; }*/
/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/*.container_12*/ .suffix_1 { padding-right: 72px; } /*.container_12 .suffix_2 { padding-left: 184px; } .container_12 .suffix_3 { padding-left: 276px; } .container_12 .suffix_4 { padding-left: 368px; } .container_12 .suffix_5 { padding-left: 460px; } .container_12 .suffix_6 { padding-left: 552px; } .container_12 .suffix_7 { padding-left: 644px; } .container_12 .suffix_8 { padding-left: 736px; } .container_12 .suffix_9 { padding-left: 828px; } .container_12 .suffix_10 { padding-left: 920px; } .container_12 .suffix_11 { padding-left: 1012px; }*/
/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/*.container_12*/ .push_1 { left: 72px; } /*.container_12 .push_2 { left: 184px; } .container_12 .push_3 { left: 276px; } .container_12 .push_4 { left: 368px; } .container_12 .push_5 { left: 460px; } .container_12 .push_6 { left: 552px; } .container_12 .push_7 { left: 644px; } .container_12 .push_8 { left: 736px;  } .container_12 .push_9 { left: 828px; } .container_12 .push_10 { left: 920px; } .container_12 .push_11 { left: 1012px; }*/
/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/*.container_12*/ .pull_1 { left: -72px; } /*.container_12 .pull_2 { left: -184px; } .container_12 .pull_3 { left: -276px; } .container_12 .pull_4 { left: -368px; } .container_12 .pull_5 { left: -460px; } .container_12 .pull_6 { left: -552px; } .container_12 .pull_7 { left: -644px; } .container_12 .pull_8 { left: -736px; } .container_12 .pull_9 { left: -828px; } .container_12 .pull_10 { left: -920px; } .container_12 .pull_11 { left: -1012px; }*/
/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Globals */
html { min-width: 1360px; }
body, footer { width: 100%; }
header, footer { min-width: 100%; /*width: 100%;*/ }
header, main.content, div.available_space_wrapper, div.secondary, footer { margin: 0 auto; width: 100%; position: relative; overflow: visible; }
main.content { overflow: hidden; }
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12, main.content > .container_12 { width: 1104px; }
main.content > .container_12 { margin-left: auto; margin-right: auto; padding: 0 0 3em; overflow: hidden; }
/* Layout
----------------------------------------------------------------------------------------------------*/
.hidden { display: none; }
.left { float: left; }
.right { float: right; }
.alignright { text-align: right; }
main.content { width: 100%; }
/* Global Breadcrumb Separators */
ul#breadcrumb_nav { font-size: .8em; }
ul#breadcrumb_nav li { margin-right: .25em; display: inline; }
ul#breadcrumb_nav li:after { margin-left: .5em; content: ">"; color: #b55a36; }
ul#breadcrumb_nav li:last-child:after { display: none; }
/* White Breadcrumb Separators */
div.market_lead ul#breadcrumb_nav li:after { color: #FFF; }
/* Header
----------------------------------------------------------------------------------------------------*/
div.navbar_wrapper { width: 1104px; margin: 0 auto; position: relative; }
div#watermark_logo { width: 37px; height: 43px; margin-top: .5em; margin-right: 1em; background: url(../img/sprites.png) no-repeat 0 0; display: inline-block; position: absolute; } 
div#uppernav { margin: 0 auto; z-index: 10000; position: relative; }
div#quick_search_container { padding: 26px 0 0 1em; float: left; width: 50em; display: inline-block; position: absolute; left: 55em; color: #FFF; font-size: .8em; line-height: 1; text-transform: uppercase; letter-spacing: 1px; }
div#quick_search_wrapper { color: transparent; }
div#quick_search, div#quick_search_market, div#quick_search_space, div#quick_search_submit { float: left; margin-right: 0.5em; color: #FFF; font-size: 1em; line-height: 1; text-transform: uppercase; }
div#quick_search_market, div#quick_search_space { margin-top: -2px; }
div#quick_search p { color: #FFF; }
keygen, select, select#market, select#sq_footage,
/* Footer Search Field */
footer input { width: 11em; background: white; border: 1px solid #9a9a98; padding: 0 0 0 0.5em; -webkit-border-radius: 0; border-radius: 0 0 0 0; color: #b5b5b3; -webkit-appearance: none; }
div#quick_search_submit a { color: #FFF; width: 40px; height: 20px; display: block; }
input#searchbox { margin-right: 1em; margin-bottom: .5em; float: left; }
a#search_submit:after,
/* Footer Search Button */ 
div#site-search a:after { margin-left: .5em; width: 8px; height: 9px; content: ""; background: url('../img/arrow-go.png') no-repeat 0 0; display: inline-block; }
div#site-search a:after { background: url('../img/arrow-go-dark.png') no-repeat 0 0; }
/* Navigation
----------------------------------------------------------------------------------------------------*/
/* Menu */
#menu { width: 60%; height: 3em; padding: 0; font-size: .85em; line-height: 1; float: left; display: inline-block; position: absolute; left: 5em; } 
#menu ul { margin: 0; padding: 0; border: 0; } 
#menu ul { list-style: none; }
#menu a { text-decoration: none; color: #FFF; }
/* Top buttons */
#menu .menu-top > li { float: left; position: relative; text-align: center; -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; }
#menu .menu-top > li:hover,
#menu .menu-top > li:focus { text-decoration: none; background:rgb(0,0,0); background: transparent\9; background:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3f000000,endColorstr=#3f000000); zoom: 1;
-webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; }
#menu .menu-top > li:nth-child(n) { filter: none; } 
#menu .menu-top .menu-right { float: right; }
#menu .menu-button { display: block; line-height: 1; padding: 2em 1em 1.25em; color: #FFF; -webkit-transition: color 0.2s; -moz-transition: color 0.2s; -ms-transition: color 0.2s; -o-transition: color 0.2s; transition: color 0.2s; text-transform: uppercase; letter-spacing: 1px; }
#menu li:hover .menu-button { color: #FFF; }
#menu .menu-drop { padding-right: 15px; }
#menu .menu-drop .menu-label { padding-right: 18px; background: url("../img/arrow-down.png") no-repeat right; -webkit-transition: background 0.2s; -moz-transition: background 0.2s; -ms-transition: background 0.2s; -o-transition: background 0.2s; transition: background 0.2s; }
#menu li:hover .menu-drop .menu-label { background: url("../img/arrow-down-on.png") no-repeat right; -webkit-transition: background 0.2s; -moz-transition: background 0.2s; -ms-transition: background 0.2s; -o-transition: background 0.2s; transition: background 0.2s; }
/* Dropdown */
#menu .menu-dropdown {
text-align: left;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZTJjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGVlZTEiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(238,226,205,1) 0%, rgba(244,238,225,0.9) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,226,205,1)), color-stop(100%,rgba(244,238,225,0.9)));
background: -webkit-linear-gradient(top,  rgba(238,226,205,1) 0%,rgba(244,238,225,0.9) 100%);
background: -o-linear-gradient(top,  rgba(238,226,205,1) 0%,rgba(244,238,225,0.9) 100%);
background: -ms-linear-gradient(top,  rgba(238,226,205,1) 0%,rgba(244,238,225,0.9) 100%);
background: linear-gradient(to bottom,  rgba(238,226,205,1) 0%,rgba(244,238,225,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee2cd', endColorstr='#e6f4eee1',GradientType=0 );
zoom: 1; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; position: absolute; left: -5000px; opacity: 0; z-index: 100; }
#menu li:hover .menu-dropdown { left: 0; opacity: 1; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -ms-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s; }
#menu .menu-right:hover .menu-dropdown { left: auto; right: 0; }
#menu .menu-header a { color: #5a6771; }
#menu .menu-sub { margin: 5px 0; }
/* Dropdown content */
#menu .menu-sub li { font-size: .875em; white-space: nowrap; -webkit-transition: background-color 0.1s; -moz-transition: background-color 0.1s; -ms-transition: background-color 0.1s; -o-transition: background-color 0.1s; transition: background-color 0.1s; }
#menu .menu-sub li:hover, #menu .menu-header a:hover { text-decoration: underline; }
#menu .menu-subbutton, 
#menu .menu-header a { display: block; padding: 10px 13px; line-height: 1.3; color: #5a6771; -webkit-transition: color 0.2s; -moz-transition: color 0.2s; -ms-transition: color 0.2s; -o-transition: color 0.2s; transition: color 0.2s; }
#menu .menu-subbutton { padding: 0 13px; }
#menu .menu-subbutton span.menu-label { padding: 0; line-height: .875; }
#menu .menu-header a { padding: 0 13px; text-transform: uppercase; line-height: 1; }
#menu p.menu-header { margin-bottom: .5em; }
#menu .menu-sub li:hover .menu-subbutton { text-decoration: underline; }
#menu hr { margin: .625em 0 0.35em; border-color: #CCC; }
#menu ul.menu-sub .menu-subbutton span.menu-label { line-height: 1.5; }
#menu .menu-row { vertical-align: text-top; display: inline-block; zoom: 1; *display: inline; }
#menu .menu-row .menu-sub { margin: 0; }
#menu .menu-row hr + .menu-sub { margin-bottom: .35em; }
#menu .menu-row hr + .menu-sub:last-child { margin-bottom: 0; } 
#menu .menu-dropdown-col { padding-top: .5em; padding-bottom: .5em; white-space: nowrap; }
#menu .menu-dropdown-col .menu-row { margin: 0; }
#menu .menu-dropdown-col .menu-row:last-child { border-right: none; }
/* Home Page 
----------------------------------------------------------------------------------------------------*/
body.home .content { margin: 3.5em auto 0; }
div#slider_overlay { width: 100%; position: absolute; top: -50px; bottom: 0; background: url('../img/slide-overlay.png') no-repeat top center; z-index: 100; }
/* Generic RoyalSlider Settings */
body.home div.royalSlider { margin: 0 auto; overflow: hidden; padding: 0; }
/* Home Page Slider */
body.home div.royalSlider > .rsContent { display: none; }
body.home .sliderContainer { margin-top: -50px; }
body.home .rsOverflow, body.home .rsContainer, body.home img.rsImg.rsMainSlideImage { min-height: 480px; min-width: 1600px; margin-top: 0!important; position: relative; }
body.home .rsMinW, body.home .rsMinW .rsOverflow { min-height: 480px!important; max-height: 680px; }
body.home .slide_copy { width: 80%; height: 9em; position: absolute; bottom: 0; }
body.home .slide_copy > div { position: absolute; }
body.home .slide_copy > div.top { top: 0; }
body.home .slide_copy > div.bottom { bottom: 0; }
body.home .slide_copy > div.top.limegreen { top: 10px; }
body.home .slide_copy > div.white.bottom { bottom: -26px; }
body.home .rsArrowLeft .rsArrowIcn,
body.home .rsArrowRight .rsArrowIcn { top: 30%; }
div#branding_logo, div#pkygreen { margin: 0 auto; }
div#branding_logo { margin-bottom: 2em; background: url('../img/sprites.png') no-repeat -278px 0; width: 138px; height: 113px; }
div#branding_logo_white { background: url('../img/sprites.png') no-repeat -141px 0; width: 138px; height: 113px; }
div#pkygreen { height: 60px; font-family: Times, 'Times New Roman', serif; font-style: italic; font-size: 1.375em; }
span.pkygreen_a, span.pkygreen_b { position: absolute; }
span.pkygreen_a { right: 2.2em; }
span.pkygreen_b { right: 1.25em; font-family: 'futura-pt', Arial, Helvetica, sans-serif; font-style: normal; text-transform: uppercase; }
/* Secondary Div */
div.secondary_wrap { background: #d3c8b5; }
div.secondary { width: 1104px; padding: 1em 0; margin: 0px auto; overflow: hidden; }
div.secondary .grid_9 { float: left; }
main.content div.container p { font-size: 0.95em; line-height: 1.75em; }
section#property h2 { font-size: 1.75em; }
section#property p { font-size: 0.95em; }
div.secondary h2 { margin-bottom: .5em; text-transform: uppercase; }
/* News Carousel */
body.home .secondary.pull_1 { width: 1160px; left: -32px; }
div#news { max-width: 1160px; height: 6em; margin: 0; position: relative; }
body.home div.secondary h2.push_1 { margin-bottom: .25em; left: 62px; }
#news .item { width: 216px; height: 103px; padding: 1em 2em 0 0; margin: 0 1em 0 0; color: #000; }
#news .item a { width: 190px; padding-right: 2em; color: #6d6e71; display: block; }
#news .item:after { width: 3px; height: 132px; content: ""; background: url('../img/sprites.png') no-repeat -138px 0; position: absolute; top: -1em; right: 0; }
.owl-carousel { position: relative; }
.owl-carousel .owl-stage-outer { width: 1040px; height: 103px; overflow: hidden; position: absolute; left: 62px; margin: 0; }
.owl-theme .owl-controls { width: 100%; margin-top: 0; position: relative; text-align: left; }
.owl-nav { width: 100%; position: relative; }
.owl-theme .owl-controls .owl-nav div { width: 42px; height: 103px; padding: 0; background-color: transparent; background-image: url('../img/sprites.png'); background-repeat: no-repeat; float: left; border-radius: 0; opacity: 1; font-size:0px; text-indent: -3000px; }
.owl-theme .owl-controls .owl-nav div.owl-prev { margin: 0 20px 0 0; background-position: -54px 0; }
.owl-theme .owl-controls .owl-nav div.owl-next { margin: 0 0 0 20px; background-position: -96px 0; position: absolute; right: 0; }
#view_news { width: 1104px; font-size: .875em; text-align: right; }
/* Tables
----------------------------------------------------------------------------------------------------*/
/* Global */
table a { color: #6d6e71; }
section#market_space table, div#property table, div#search_results table, div#portfolio_assets table 
{ font-size: .9em; margin-left: -0.75em; }
section#market_space th, div#property th, div#search_results th, div#portfolio_assets th 
{ width: auto; padding: 1em 0 0 0; text-transform: uppercase; color: #004677; font-weight: 500; line-height: 1.1; }
section#market_space table th, div#property table th, div#search_results table th, div#portfolio_assets table th 
{ padding-left: 1em; }
section#market_space table td, div#property table td, div#search_results table td, div#portfolio_assets table td 
{ padding: 1em 4em 0 1em; font-size: .95em; line-height: 1.25; }
section#market_space table > .grid_12, div#property table > .grid_12, div#search_results table > .grid_12, div#portfolio_assets table > .grid_12 
{ margin-left: 0; }
/* Property Listing, Market Pages and Search Results Pages */
div#search_results div#available_suites .grid_12,
div#property div#available_suites .grid_12 { margin-left: 0; }
/* Market Pages */
body.market div#available_space table th { border-bottom: 1px solid #EEE; }
/* Portfolio Page */
div#portfolio_assets table.tablesorter tbody tr:nth-child(even) { background: #fcf7ed; }
div#portfolio_assets table.tablesorter tbody td { padding: .75em 2em .75em 1em; }
td.building_name { width: 245px; }
td.building_sqft { text-align: right; min-width: 100px; }
/* Search Results Description Max Width */
div#search_results table td { padding: .5em 1em 0 1em; }
div#search_results table td.space_desc { max-width: 20em; padding-right: 1em; }
/* Search Page */
div#search_page section.grid_10 { margin-bottom: 2em; display: block; }
div#search_page section.grid_10 p { margin-bottom: 0; }
div#search_page hr.grid_2 { margin: 2em 0 1.5em; height: 2px; clear: both; float: none; display: block; border-top: 2px solid #004677; background-color: #004677; }
div#search_page div#pagination { float: left; margin-bottom: 2em; }
/* Market Pages
----------------------------------------------------------------------------------------------------*/
/* Global */
div.market_callout { margin: 0 auto; width: 1284px; height: 130px; position: absolute; bottom: 0; left: 0; right: 0; } 
div.market_overlay { width: 100%; position: absolute; top: 0; bottom: 0; background: url('../img/market_overlay.png') no-repeat top center; background-size: cover; z-index: 100; }
div.market_lead .container_12 { margin: 0 auto; overflow: auto; padding: 2em 0 1em; }
div.market_lead + section.container_12 { margin: 0 auto; width: 1104px; padding: 2em 0; overflow: auto; }
/* Global Headers */
body.market header { width: 100%; height: 100%; min-height: 480px; background-repeat: no-repeat; background-size: cover; }
/* Individual Market Headers */
body.market header#atlanta_market { background-image: url('../img/headers/1200x480/market_atlanta.jpg'); }
body.market header#austin_market { background-image: url('../img/headers/1200x480/market_austin.jpg'); }
body.market header#charlotte_market { background-image: url('../img/headers/1200x480/market_charlotte.jpg'); }
body.market header#ft_lauderdale_market { background-image: url('../img/headers/1200x480/market_ft_lauderdale.jpg'); }
body.market header#houston_market { background-image: url('../img/headers/1200x480/market_houston.jpg'); }
body.market header#jackson_market { background-image: url('../img/headers/1200x480/market_jackson.jpg'); }
body.market header#jacksonville_market { background-image: url('../img/headers/1200x480/market_jacksonville.jpg'); }
body.market header#miami_market { background-image: url('../img/headers/1200x480/market_miami.jpg'); }
body.market header#orlando_market { background-image: url('../img/headers/1200x480/market_orlando.jpg'); }
body.market header#philadelphia_market { background-image: url('../img/headers/1200x480/market_philadelphia.jpg'); }
body.market header#phoenix_market { background-image: url('../img/headers/1200x480/market_phoenix.jpg'); }
body.market header#tampa_market { background-image: url('../img/headers/1200x480/market_tampa.jpg'); }
/* Market Lead Divs and Colors */
div.atlanta, div.austin, div.charlotte, div.ft_lauderdale, div.houston, div.jackson, div.jacksonville, div.miami, div.orlando, div.philadelphia, div.phoenix, div.tampa { overflow: auto; width: 100%; }
div.atlanta { background: #004677; }
div.austin { background: #6a747c; }
div.charlotte { background: #517891; }
div.ft_lauderdale { background: #668b9d; }
div.houston { background: #66513d;}
div.jackson { background: #b57d1e; }
div.jacksonville { background: #7e7f77; }
div.miami { background: #677977; }
div.orlando { background: #7a3822; }
div.philadelphia { background: #725365; }
div.phoenix { background: #145d67; }
div.tampa { background: #4c2f48; }
/* Property Listing Pages 
----------------------------------------------------------------------------------------------------*/
/* Global Headers */
body.listing header, body.corporate header, body.map header { height: 224px; margin-bottom: 1.5em; overflow: visible; background-repeat: repeat-x; background-position: top center; }
/* Header Backgrounds */
body.listing header#atlanta_listing { background-image: url('../img/headers/bg/atlanta_bg.jpg'); }
body.listing header#austin_listing { background-image: url('../img/headers/bg/austin_bg.jpg'); }
body.listing header#charlotte_listing { background-image: url('../img/headers/bg/charlotte_bg.jpg'); }
body.listing header#ft_lauderdale_listing { background-image: url('../img/headers/bg/ft_lauderdale_bg.jpg'); }
body.listing header#houston_listing { background-image: url('../img/headers/bg/houston_bg.jpg'); }
body.listing header#jackson_listing { background-image: url('../img/headers/bg/jackson_bg.jpg'); }
body.listing header#jacksonville_listing { background-image: url('../img/headers/bg/jacksonville_bg.jpg'); }
body.listing header#miami_listing { background-image: url('../img/headers/bg/miami_bg.jpg'); }
body.listing header#orlando_listing { background-image: url('../img/headers/bg/orlando_bg.jpg'); }
body.listing header#philadelphia_listing { background-image: url('../img/headers/bg/philadelphia_bg.jpg'); }
body.listing header#phoenix_listing { background-image: url('../img/headers/bg/phoenix_bg.jpg'); }
body.listing header#tampa_listing { background-image: url('../img/headers/bg/tampa_bg.jpg'); }
/* Header Images Global */
div[id*="_img"] { width: 1200px; height: 224px; margin: 0 auto; background-repeat: no-repeat; background-position: top center; position: relative; }
/* Generic Listings Header Image (Search Results, Available Space, etc.) */
#markets_img { background-image: url('../img/headers/1600x224/header_markets.jpg') }
/* Market Listings Header Images */
#atlanta_listing_img { background-image: url('../img/headers/1600x224/header_atlanta.jpg') }
#austin_listing_img{ background-image: url('../img/headers/1600x224/header_austin.jpg') }
#charlotte_listing_img { background-image: url('../img/headers/1600x224/header_charlotte.jpg') }
#houston_listing_img { background-image: url('../img/headers/1600x224/header_atlanta.jpg') }
#ft_lauderdale_listing_img { background-image: url('../img/headers/1600x224/header_ft_lauderdale.jpg') }
#houston_listing_img { background-image: url('../img/headers/1600x224/header_houston.jpg') }
#jackson_listing_img { background-image: url('../img/headers/1600x224/header_jackson.jpg') }
#jacksonville_listing_img { background-image: url('../img/headers/1600x224/header_jacksonville.jpg') }
#miami_listing_img { background-image: url('../img/headers/1600x224/header_miami.jpg') }
#orlando_listing_img { background-image: url('../img/headers/1600x224/header_orlando.jpg') }
#philadelphia_listing_img { background-image: url('../img/headers/1600x224/header_philadelphia.jpg') }
#phoenix_listing_img { background-image: url('../img/headers/1600x224/header_phoenix.jpg') }
#tampa_listing_img { background-image: url('../img/headers/1600x224/header_tampa.jpg') }
/* Secondary Page Headers */
body.listing header#markets, body.map header#markets, body.corporate header#investors, body.corporate header#careers, body.corporate header#about, body.corporate header#leadership, body.corporate header#corporate, body.corporate header#portfolio, body.corporate header#sig_properties {
 background-image: url('../img/headers/bg/header_bg.jpg'); }
body.corporate header#sustainability { background-image: url('../img/headers/bg/sustainability_bg.jpg'); }
/* Investors and Careers Header */
body.corporate #investors_img, body.corporate #careers_img { background-image: url('../img/headers/1600x224/header_investors.jpg'); }
/* About Header */
body.corporate #about_img { background-image: url('../img/headers/1600x224/header_about.jpg'); }
/* Market Contacts Header */
body.corporate #corporate_img { background-image: url('../img/headers/1600x224/header_contacts.jpg'); }
/* Sustainability Header */
body.corporate #sustainability_img { background-image: url('../img/headers/1600x224/header_sustainability.jpg'); }
/* Portfolio Header */
body.corporate #portfolio_img { background-image: url('../img/headers/1600x224/header_portfolio.jpg'); }
/* Signature Properties Header */
body.corporate #sig_properties_img { background-image: url('../img/headers/1600x224/header_sig_properties.jpg'); }
/* Property Info Global
----------------------------------------------------------------------------------------------------*/
/* Property Data -- Global */
div.property_data { font-size: 0.875em; overflow: hidden; } 
div.property_data dt { margin-top: 1em; color: #004677; text-transform: uppercase; } 
div.property_data dt:first-child { margin-top: 0; } 
div.property_data dd { margin-bottom: .25em; line-height: 1.25; }
/* Icons */
div#property [href$=".pdf"]:before,
div#property a[href$=".pdf"]:before,
div#search_results [href$=".pdf"]:before,
div#search_results a[href$=".pdf"]:before,
a.preview:before,
a.email:before,
a.share:before,
a.print:before,
a.view_map:before { content: ""; width: 16px; height: 16px; float: left; margin-right: .5em; background-image: url('../img/sprites.png'); background-repeat: no-repeat; }
div#property [href$=".pdf"]:focus, div#property a[href$=".pdf"]:focus, a.preview:focus, a.email:focus, a.share::focus, a.print:focus, a.view_map:focus { outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; color: #2a6496; text-decoration: underline; }
div#property [href$=".pdf"]:before,
div#property a[href$=".pdf"]:before,
div#search_results [href$=".pdf"]:before,
div#search_results a[href$=".pdf"]:before { background-position: 0 -44px; }
a.print:before { background-position: 0 -60px; }
a.view_map:before { background-position: 0 -76px; }
a.email:before { background-position: 0 -92px; }
a.share:before { background-position: 0 -108px; }
div#property [href$=".pdf"]:hover:before,
div#property a[href$=".pdf"]:hover:before,
div#search_results [href$=".pdf"]:hover:before,
div#search_results a[href$=".pdf"]:hover:before { background-position: -16px -44px; }
a.print:hover:before { background-position: -16px -60px; }
a.view_map:hover:before { background-position: -16px -76px; }
a.email:hover:before { background-position: -16px -92px; }
a.share:hover:before { background-position: -16px -108px; }
/* Available Space Buttons 
----------------------------------------------------------------------------------------------------*/
#search_results .btn 
{ width: 232px; padding: 0.75em; color: #FFF; font-weight: 500; text-align: center; background-color: #004677; border-color: #DEF0FD; border-radius: 0; display: block; clear: both; }
#search_results .btn { float: none; margin-top: 0; }
#search_results .btn:hover 
{ color: #6d6e71; text-decoration: underline; }
#search_results .btn:hover, 
{ color: #DEF0FD; text-decoration: underline; }
#search_results .btn:after 
{ width: 9px; height: 8px; margin-left: .3em; background-position: -37px 0; display: inline-block; float: none; }
#search_results .btn:active, #search_results .btn.active, 
{ box-shadow: 0 0 0; }
#search_results .btn { padding: .75em; }
#search_results .btn span { display: block; }
/* Single Property Listings 
----------------------------------------------------------------------------------------------------*/
div#property { display: block; position: relative; overflow: auto; }
div#property_details { margin-right: 2em; float: left; }
/* Property Page Sliders */
body.listing div.royalSlider { width: 300px; height: 360px; padding: 0; margin-right: 2em; margin-bottom: 3em; overflow: hidden; }
body.listing .rsOverflow, body.listing .rsContainer {
    width: 300px!important; min-width: 300px!important; max-width: 300px!important; margin-top: 0!important; position: relative; }
body.listing .rsSlide { width: 300px; }
body.listing .rsSlide { opacity: .5; 
	-webkit-transition: opacity 1500ms ease-in;
	-moz-transition: opacity 1500ms ease-in;
	-ms-transition: opacity 1500ms ease-in;
	-o-transition: opacity 1500ms ease-in;
	transition: opacity 1500ms ease-in; }
body.listing .rsSlide.rsActiveSlide { opacity: 1; 
	-webkit-transition: opacity 4500ms ease-out;
	-moz-transition: opacity 4500ms ease-out;
	-ms-transition: opacity 4500ms ease-out;
	-o-transition: opacity 4500ms ease-out;
	transition: opacity 4500ms ease-out; }
body.listing .rsArrowLeft .rsArrowIcn, 
body.listing .rsArrowRight .rsArrowIcn { width: 50px; height: 100px; display: block; position: absolute; } 
body.listing .rsArrowLeft .rsArrowIcn { background: url('../img/arrow-prev.png') no-repeat 0 0; left: 8px; }
body.listing .rsArrowRight .rsArrowIcn { background: url('../img/arrow-next.png') no-repeat 0 0; right: 0px; }
body.listing .rsArrowLeft .rsArrowIcn,
body.listing .rsArrowRight .rsArrowIcn { top: 0; bottom: 0; margin: auto; }
body.listing div#property_details .rsNav.rsBullets { /*display: none;*/ width: 300px; text-align: left; padding: 0; margin: 0; }
/* Basic JQuery Slider */
#property-slide { margin: 0 2em 2em 0; width: 300px; overflow: hidden; }
ul.bjqs{ position: relative; list-style: none; padding: 0; margin: 0; overflow: hidden; display: none; }
li.bjqs-slide{ position: absolute; display: none; }
ul.bjqs-controls{ list-style: none; margin: 0; padding: 0; z-index: 9999; }
ul.bjqs-controls.v-centered li a { position: absolute; }
ul.bjqs-controls.v-centered li.bjqs-next a { right: 0; }
ul.bjqs-controls.v-centered li.bjqs-prev a { left: 0; }
ol.bjqs-markers { list-style: none; padding: 0; margin: 0; width: 100%; }
ol.bjqs-markers li { display: inline; }
ol.bjqs-markers li a { display: inline-block; width: 10px; height: 10px; padding: 0; margin: 0 3px; background: #F4EEE1; color: #FFF; text-decoration:none; font-size: 0px; box-shadow: 0px 0px 4px rgba(0,0,0,.5); }
ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover { background: #9d9b98; color: #999; font-size: 0px; }
ol.bjqs-markers.h-centered { padding: 0; margin: 0; width: 300px; text-align:center; position: absolute; bottom: 1em; }
div.property_data .grid_2 { width: 34%; }
div.property_data .grid_2.alpha { width: 28%; }
/* Tabbed Info */
div#tabbed_info { clear: both; display: block; float: none; }
.tab-content { padding-top: 1em; margin-bottom: 2em; padding-right: 1em; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { border-radius: 0; }
.nav-tabs > li > a { margin-right: 0; text-transform: uppercase; color: #004677; letter-spacing: 1px; border-radius: 0; }
.nav-tabs > li.active > a { color: #004677; text-decoration: none; }
.nav > li > a { padding: .5em 1em .25em; }
.nav > li:first-child { margin-left: -1em; }
.tab-content li { margin-left: 1em; text-indent: -1em; padding-bottom: .5em; list-style: square inside; }
/* Available Suites */
div#available_suites { overflow: auto; clear: both; }
div#available_suites h2 { margin-bottom: 0.25em; }
div#available_suites div.right a.back_to_top { margin-right: 1.25em; }
div#available_suites h2 { margin-bottom: 0; padding: 1em; background: rgba(0, 70, 119, 0.1); line-height: 1; }
div#property div#available_suites table { margin-left: 0; }
div#property div#available_suites th { padding-bottom: 0; }
/* Search Results
----------------------------------------------------------------------------------------------------*/
div#search_results { max-width: 80%; margin-bottom: 2em; overflow: hidden; }
div#search_results h2 { float: left; margin-bottom: .5em; }
div#search_results h3 { font-family: Times, 'Times New Roman', serif; font-style: italic; letter-spacing: 1px; }
section.property_preview.grid_12 { margin-left: 0; padding-bottom: 1em; margin-bottom: .75em; border-bottom: 1px solid #EEE; }
div[id*="available_space"] { clear: both; }
div[id*="available_space"] > .grid_12 { margin-left: 0; float: none; clear: both; }
div#search_results .property_preview_img.grid_2 { height: 162px; width: 135px; background: #CCC; margin-right: 1em; float: left; overflow: hidden; }
/* Search Results Property Data Global Overrides */
div#search_results div.property_data dt { display: block; float: left; margin-top: 0; }
/* Left Column Property Data */
div#search_results div.property_data.grid_3 dt { width: 6em; }
div#search_results div.property_data.grid_3 dd { margin-left: 6em; }
/* Right Column Property Data */
div#search_results div.property_data.grid_4 dt { width: 10em; }
div#search_results div.property_data.grid_4 dd { margin-left: 10em; }
div#search_results section.property_preview .grid_7 { position: relative; min-height: 162px; }
div#search_results section.property_preview .grid_7 .available_space_btn { position: absolute; bottom: 0; }
/* Print Page and Back to Top */
div.right a.print, a.back_to_top { height: 16px; line-height: 1; font-size: .85em; }
div.right a.print:before, a.back_to_top:before, #search_results .btn:after, #property .btn:after { content: ""; background-image: url('../img/sprites.png'); background-repeat: no-repeat; background-attachment: scroll; background-color: rgba(0, 0, 0, 0); }
div.right a.print:before { height: 16px; width: 16px; margin-right: 0.2em; margin-top: 0.2em; padding-left: 16px; background-position: 0 -60px; }
a.back_to_top:before { height: 8px; width: 9px; margin-right: 6px; padding-left: 9px; background-position: -37px -8px; }
div.right a.print:hover:before { background-position: -16px -60px; }
/* Available Space Map 
----------------------------------------------------------------------------------------------------*/
/* Background */
body.map #wrap { background: url('../img/map_bg.png') repeat-y top center #f4eee1; }
/* Placement of Market Names on Map */
div.map_image { width: 610px; height: 390px; position: relative; display: block; background-image: url('../img/map_markets.png'); background-position: 0 0; background-repeat: no-repeat; }
/* Market Name Styles */
a.map_link { position: absolute; font-weight: 400; font-size: .875em; letter-spacing: .02em; color: #6d6e71; text-transform: uppercase; text-align: center;   text-shadow: 0px 0px 1px #FFFFFF, 1px 1px 5px #FFFFFF; }
a.map_link { background-image: url('../img/map_flag_a.gif'); background-repeat: no-repeat; background-position: bottom center; } 
a.map_link:hover { text-decoration: none; color: #002f56; background-image: url('../img/map_flag_h.gif'); }
/* Market Positioning Tweaks */
a.map_link#phoenix { width: 59px; height: 32px; top: 227px; left: 101px; }
a.map_link#austin { width: 47px; height: 32px; top: 294px; left: 284px; }
a.map_link#houston { width: 67px; height: 32px; top: 322px; left: 300px; line-height: 3.25; background-position: top; }
a.map_link#jackson { width: 58px; height: 32px; top: 261px; left: 360px; }
a.map_link#philadelphia { width: 85px; height: 32px; top: 118px; left: 502px; letter-spacing: .05em; }
a.map_link#charlotte { width: 78px; height: 32px; top: 204px; left: 456px; }
a.map_link#atlanta { width: 57px; height: 32px; top: 237px; left: 432px; }
a.map_link#jacksonville { width: 92px; height: 32px; top: 275px; left: 455px; }
a.map_link#orlando { width: 91px; height: 14px; top: 321px; left: 501px; background-position: left 1px; line-height: 1; }
a.map_link#tampa { width: 70px; height: 14px; top: 326px; left: 427px; line-height: 1; background-position: right; }
a.map_link#ft_lauderdale { width: 142px; height: 14px; top: 345px; left: 524px; background-position: left 1px; line-height: 1; }
a.map_link#miami { width: 66px; height: 16px; top: 360px; left: 524px; background-position: left 1px; line-height: 1; }
/* Portfolio Template Overrides */
.map_image { height: 392px; }
div#portfolio_photos { width: 125px; margin-top: 0; }
div#portfolio_assets th { padding-top: 0; }
/* Available Markets Sidebar */
#available_markets dl { margin-right: 1em; margin-left: 1em; border-left: 1px solid white; }
#available_markets dl:first-child { border-left: 0; }
#available_markets dt { width: 8em; text-transform: uppercase; display: block; float: left; font-size: .8em; text-align: right; }
#available_markets dd { padding-left: 9em; padding-bottom: .25em; margin-bottom: .25em; font-size: .9em; }
#available_markets dd:last-child { border-bottom: 0 none; }
#available_markets a { color: #000; }
/* Market Contacts, Leadership and Signature Properties  
----------------------------------------------------------------------------------------------------*/
section#corporate p, 
section.office p, 
section.sig_properties p { font-size: .9em; }
section#corporate h3, section.office h3, section#corporate h3, section.office h4,
section#corporate p, section.office p { margin-bottom: .5em; }
section#corporate h4, section.office h4 { font-size: 1em; }
section#corporate .panel-heading h2, section.office .panel-heading h3 { margin-bottom: 0; }
section#corporate img, section.office img { margin: 0 20px 10px 0; float: left; }
section.office { overflow: auto; padding: 0; }
section.office .panel { width: 35%; float: left; }
section.office p, section.office h4 { float: right; width: 58%; }
section#corporate .panel { margin-right: 0; }
/* Managing Directors and Leadership */
div#directors img, section.leadership img, section#corporate img, section.office img { margin-top: .2em; margin-bottom: 1em; }
section.office img { margin-top: .25em; }
div#directors h3, div#directors p, section.leadership h3, section.leadership p { line-height: 1.2; }
/* Leadership and Signature Properties */
section.leadership, section.sig_properties { overflow: auto; clear: both; display: block; }
section.leadership img, section.sig_properties img { margin-right: 1em; }
section.sig_properties .panel { width: 45%; float: left; }
section.sig_properties .panel-body { min-height: 12em; }
section.sig_properties .panel p, section.sig_properties .panel h3,
section.leadership .panel p, section.leadership .panel h3 { margin-bottom: 0; }
section.leadership .panel p { font-size: 1em; margin-bottom: .5em; }
/* Miscellaneous
----------------------------------------------------------------------------------------------------*/
/* Market Page Available Space Tablesorter */
table.tablesorter thead tr .header { background-repeat: no-repeat; background-position: right 17px; cursor: pointer; }
table.tablesorter thead tr .headerSortDown { background-image:url(../img/arrow-down.png); background-repeat: no-repeat; }
table.tablesorter thead tr .headerSortUp { background-image:url(../img/arrow-up.png); background-repeat: no-repeat; }
/* Careers Page */
ul.jobs_by_state { margin-bottom: 1em; }
ul.jobs_by_state,
ul.jobs_by_state li { margin-left: 0; padding: 0; list-style: none outside none; }
ul.jobs_by_state ul li { margin-left: 0; padding-left: .5em; list-style: none outside none; }
ul.jobs_by_state li b, ul.jobs_by_state strong { padding: 0; margin: .75em 0 .25em; display block; font-weight: normal; text-transform: uppercase; }
.jobs_by_state > li { line-height: 1.5em; }
ul.jobs_by_state li ul li { margin-bottom: 0; }
.disclaimer { margin: 1em 0 0; font-size: .75em; }
/* Careers Page Sidebar Well */
div#careers.well { background-color: #F4EEE1; border-color: #E2DBCD; }
/* Sustainability Collapse Lists */
div#sustainability_main { margin-left: 1em; }
div#sustainability_main h3.uppercase { margin-left: -1em; padding: .25em 0 0.25em 1em; }
div#sustainability_main h3.uppercase:hover { background: #D2F0BC; -webkit-transition: background 500ms ease; -moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease; }
div#sustainability_main h3.uppercase
div#sustainability_main div.collapse-group ul { margin-bottom: 1em; }
div#sustainability_main div.collapse-group ul li {list-style: square outside; margin-left: 1em; padding-bottom: .5em; }
div#sustainability_main p + ul { margin-bottom: 1em; }
/* About Page Well */
div#about_photos { overflow: auto; margin: 2em 0; }
div#about_photos.well { width: 88%; background-color: #F4EEE1; border-color: #E2DBCD; }
div#about_photos li { display: inline-block; margin-right: 1.5em; } 
div#about_photos li:last-child { margin-right: 0; }
div#about_photos li img { float: left; }
/* Alerts and Messages 
----------------------------------------------------------------------------------------------------*/
/* Alert Styles */
#alert { color:#000; border-top:0 none; border-right:1px solid white; border-bottom:1px solid white; border-left:1px solid white; position:relative; }
#alert img { margin-right:0.3em; position:relative; top:2px; }
#alert h2 { margin:0 20px 5px; font-size:100%; float:left; }
#alert p { margin:0 0 5px; font-size: 875em; line-height: 1.3em; }
div.notice, div.emergency { padding:10px 10px 5px; }
div.notice { background-color:#FECF2E; color:#333; }
div.emergency { background-color:#ED743B; color:#FFF; }
div.emergency a, div.emergency a:link, div.emergency a:visited, div.notice a, div.notice a:link, div.notice a:visited { font-weight:normal; text-decoration:none; }
div.notice a, div.notice a:link, div.notice a:visited { color:#000; }
div.emergency a, div.emergency a:link, div.emergency a:visited { color:#FFF; }
div.emergency a:hover, div.notice a:hover { text-decoration:underline; }
div.emergency a:active, div.notice a:active { font-weight:normal; text-decoration:none; }
div.emergency a:active { color:#FFF; }
div.notice a:active { color:#000; }
/* Conference Call */
#conf-call { width:246px; height:auto; margin:0 0 15px; padding:5px; overflow:auto; line-height:120%; background:#C6CC65 url(../img/phone.png) no-repeat 220px 5px; }
.conf-call-title { color:#C42E0D; }
.conf-call-title a, .conf-call-title a:link, .conf-call-title a:visited { text-decoration:none; }
.conf-call-title a:hover { color:#000; }
#conf-call img { float:right; }
/* Footer 
----------------------------------------------------------------------------------------------------*/
/* Sticky Footer */
html, body { height: 100%; }
#wrap { min-height: 100%; }
main.content { overflow: auto; padding-bottom: 315px; }  /* must be same height as the footer */
footer { position: relative; margin-top: -315px; /* negative value of footer height */ height: 315px; clear: both; } 
/* Opera Fix */
body:before { content:""; height: 100%;	float: left; width: 0; margin-top: -32767px;/ }
footer { height: 315px; background: url('../img/footer-bg.png') repeat-y center; background-size: 100%; color: #9d9b98; }
div#footer_content { width: 1104px; height: 315px; margin: 0 auto; padding: 0; position: relative; background-color: #F4EEE1; }
div#footercol1, div#footercol2, div#footercol3, div#footercol4, div#footercol5 { width: 12em; padding: 2em 0; float: left; }
div#footercol5 { width: 348px; height: 315px; padding-left: 7em; float: right; background: url('../img/footercol5-bg.jpg') no-repeat top right; position: absolute; right: 0; }
footer textarea { padding: 0; height: 1.75em; margin-right: .5em; margin-bottom: 2em; float: left; } 
footer a[role="button"] { float: left; color: #6d6e71; }
footer h3 { color: #9d9b98; font-size: 0.9em; font-weight: 500; text-transform: uppercase; }
footer div#site_search h3 { line-height: 2.75; }
footer h3.darker { color: #6d6e71; }
footer p, footer li { line-height: 1.4; }
footer li { font-size: 0.8em; }
/* Media Queries
----------------------------------------------------------------------------------------------------*/
@media (min-width:1800px) { 
	body.market header { min-height:720px; } 
}
@media (min-width:1700px) and (max-width:1799px) { 
	body.market header { min-height:685px; } 
}
@media (min-width:1600px) and (max-width:1699px) { 
	body.market header { min-height:650px; } 
}
@media (min-width:1600px) {
	div#quick_search_container, #menu { font-size: .9em; }
	div#quick_search_container { padding: 30px 0 0 1em; }
}
@media (min-width:1500px) and (max-width:1599px) { 
	body.market header { min-height:615px; } 
}
@media (min-width:1400px) and (max-width:1499px) { 
	body.market header { min-height:585px; } 
}
@media (max-width:1400px) { 
	div[id*="_img"] { margin: 0; background-position: -124px 0!important; }
	div.navbar_wrapper, 
	main.content > div.container_12, 
	div.secondary, 
	div.secondary > .container_12,
	div.market_callout, 
	div.market_lead .container_12, 
	div.market_lead + section.container_12 { width: auto; }

	div.navbar_wrapper, 
	div.secondary, 
	div.secondary > .container_12 { padding-left: 1em; }
	
	main.content > div.container_12, .secondary.container_12, div#footer_content, div.market_callout, div.market_lead .container_12, div.market_lead + section.container_12 { padding-left: 84px; }
	div#footer_content { width: 1200px; margin: 0; }
	div.navbar_wrapper .pull_1, div.secondary_wrap .pull_1, body.home div.secondary_wrap .pull_1 { left: 0; }
	body.home div.secondary_wrap .pull_1 { width: 100%; }
	div#watermark_logo { margin-left: 1em; }
	div#footercol6 { float: left; }
}
@media (min-width:1300px) and (max-width:1399px) { 
	body.market header { min-height:550px; } 
}
@media (min-width:1201px) and (max-width:1299px) { 
	body.market header { min-height:515px; } 
}
@media (min-width:1200px) { 
	body.market header { background-position: 50% 50%; }
}
@media (max-width:1200px) { 
	body.market header { background-position: 50% top; }
}
@media (max-width:1024px) {
	body.home .slide_copy { bottom: 3em; }
	body.home .slide_copy .push_84 { left: 0; }
}
@media (max-width:1104px) { 
	div#footercol5 { position: relative; } 
}
/*  Microsites
----------------------------------------------------------------------------------------------------*/
@import url(micro.css); 