/* Background */
.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs { background: #004677; color: #FFF; }

.rsMinW .rsArrow { height: 32px; width: 32px; position: absolute; display: block; cursor: pointer; z-index: 21; }
.rsMinW .rsArrowLeft { right: 37px; bottom: 7px; }
.rsMinW .rsArrowRight { right: 7px; bottom: 7px; }

.rsMinW.rsHor .rsArrowLeft .rsArrowIcn { background-position: -68px -36px; }
.rsMinW.rsHor .rsArrowRight .rsArrowIcn { background-position: -68px -68px; }
.rsMinW.rsVer .rsArrowLeft .rsArrowIcn { background-position: -100px -36px; }
.rsMinW.rsVer .rsArrowRight .rsArrowIcn { background-position: -100px -68px; }
.rsMinW .rsArrowDisabled .rsArrowIcn { opacity: .3 !important; filter: alpha(opacity=30);  *display: none; }

.rsMinW .rsArrowLeft, .rsMinW .rsArrowRight { top: 45%; width: 42px; height: 103px; background-image: url('../img/sprites.png'); background-repeat: no-repeat; }
.rsMinW .rsArrowLeft { left: 10%; background-position: -54px 0; }
.rsMinW .rsArrowRight { right: 10%; background-position: -96px 0; }

.rsMinW .rsBullets { position: relative; /*width: 50%; pright: 0; bottom: 1em; */z-index: 35; /*height: auto; text-align: center; */line-height: 3em; overflow: hidden; }
.rsMinW .rsBullet { width: 10px; height: 10px; padding: 0; margin: 0 3px; display: inline-block; *display:inline; *zoom:1; }
.rsMinW .rsBullet span { display: block; width: 10px; height: 10px; background: #CCC; background: rgba(255,255,255,0.5); }
.rsMinW .rsBullet.rsNavSelected span { background: #FFF; }
.rsNav.rsBullets { width: 1400px; padding: 0 10% 0 0; text-align: right; margin: -3em auto 0; position: relative; z-index: 101; }

.rsMinW .rsPreloader { width:20px; height:20px; background-image:url(../img/preloader-white.gif); left:50%; top:50%; margin-left:-10px; margin-top:-10px; }

@media (max-width:1600px) {
	.rsNav.rsBullets { width: 1200px; }
}
@media (max-width:1400px) {
	.rsMinW .rsArrowLeft { left: 5%; }
	.rsMinW .rsArrowRight { right: 5%; }
}
@media (max-width:1024px) {
	.rsMinW .rsArrowLeft, .rsMinW .rsArrowRight { display: none!important; }
	.rsNav.rsBullets { width: 84px; margin-left: 84px; padding: 0; text-align: center; }
}